name: Dart Format

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest

    container:
      image: dart:3.3.0

    steps:
      - uses: actions/checkout@v1
      - name: check formatting
        run: |
          dart format --fix --output none --set-exit-if-changed \
          sidekick/bin sidekick/lib sidekick/test \
          sidekick_core \
          sidekick_plugin_installer \
          sidekick_test \
          sidekick_vault \
          sk_sidekick/lib
          
