name: Integration Tests

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    # Every night at 03:00
    - cron: '0 3 * * *'

jobs:
  integration_tests_linux_local:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Always keep support to at least 2 stable versions
        version: [ "2.14", "2.15", "2.16", "2.17", "2.18", "latest" ]

    container:
      image: dart:${{ matrix.version }}

    steps:
      - run: |
          apt-get update
          apt-get install unzip
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: cd sidekick && dart pub get --no-precompile
      - name: Run tests
        run: cd sidekick && dart test
        env:
          SIDEKICK_LOCAL_DEPS: "true"

  integration_tests_linux_pub:
    runs-on: ubuntu-latest
    if: ${{ !github.event.issue.pull_request }}
    strategy:
      fail-fast: false
      matrix:
        # Always keep support to at least 2 stable versions
        version: ["2.14", "2.15", "2.16", "2.17", "2.18", "latest"]

    container:
      image: dart:${{ matrix.version }}

    steps:
      - run: |
         apt-get update
         apt-get install unzip
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: cd sidekick && dart pub get --no-precompile
      - name: Run tests
        run: cd sidekick && dart test
        env:
          SIDEKICK_LOCAL_DEPS: "false"

  integration_tests_windows:
    runs-on: windows-2022

    # They don't work yet, but someone should invest time here
    if: 'false'
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - name: Install dependencies
        run: cd sidekick && dart pub get --no-precompile
      - name: Run tests
        run: cd sidekick && dart test
