name: Integration Tests

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    # Every night at 03:00
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  integration_tests_linux_local:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Always keep support to at least 2 stable versions
        version: ["3.5", "3.8", "latest" ]

    container:
      image: dart:${{ matrix.version }}

    steps:
      - run: echo "${HOME}/.sidekick/bin" >> $GITHUB_PATH
      - run: |
          apt-get update
          apt-get install unzip
      - uses: actions/checkout@v1
      - name: Dart version
        run: dart --version
      - name: Install dependencies
        run: cd sidekick && dart pub get --no-precompile
      - name: Run tests
        run: cd sidekick && dart test test/test_runner.dart
        env:
          SIDEKICK_PUB_DEPS: "false"
          SIDEKICK_ANALYZE: "${{ matrix.version == '3.8' }}"

  integration_tests_linux_pub:
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request }}
    strategy:
      fail-fast: false
      matrix:
        # Always keep support to at least 2 stable versions
        version: ["3.5", "3.8", "latest" ]

    container:
      image: dart:${{ matrix.version }}

    steps:
      - run: echo "${HOME}/.sidekick/bin" >> $GITHUB_PATH
      - run: |
         apt-get update
         apt-get install unzip
      - uses: actions/checkout@v1
      - name: Dart version
        run: dart --version
      - name: Install dependencies
        run: cd sidekick && dart pub get --no-precompile
      - name: Run tests
        run: cd sidekick && dart test test/test_runner.dart
        env:
          SIDEKICK_PUB_DEPS: "true"
          SIDEKICK_ANALYZE: "${{ matrix.version == '3.8' }}"
      - name: Run latest sidekick from pub
        run: |
          set -o errexit
          dart pub global activate sidekick
          export PATH="$PATH":"$HOME/.pub-cache/bin"
          mkdir tmp
          cd tmp
          sidekick init --cliName dashi --projectRoot . --cliPackageDirectory .
          ./dashi -h
          ./dashi sidekick -h
          ./dashi sidekick plugins install sidekick_vault
          ./dashi vault -h

  integration_tests_windows:
    runs-on: windows-2022

    # They don't work yet, but someone should invest time here
    if: 'false'
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - name: Install dependencies
        run: cd sidekick && dart pub get --no-precompile
      - name: Run tests
        run: cd sidekick && dart test test/test_runner.dart
